<div class="input-group">
  <div class="input-group-prepend">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      tabindex="-1"
    >
      <i class="fas fa-magic"></i>
    </button>
    <div class="dropdown-menu">
      <a
        href="#"
        class="dropdown-item"
        *ngFor="let item of positiveItems()"
        (click)="trigger($event, item)"
      >
        +{{ item }}min
      </a>
      <div class="dropdown-divider"></div>
      <a
        href="#"
        class="dropdown-item"
        *ngFor="let item of negativeItems()"
        (click)="trigger($event, item)"
      >
        {{ item }}min
      </a>
      <div class="dropdown-divider"></div>
      <a href="#" class="dropdown-item" (click)="trigger($event, null)">Clear</a>
    </div>
  </div>
  <ng-content></ng-content>
</div>
