<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <i class="fas fa-clock"></i>
    Tempo
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="bookings">Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bookings/new">Quick Booking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tasks">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="settings">Settings</a>
      </li>
    </ul>
  </div>
</nav>
